/*body for each page*/
body{
    background-color: lightgray;
}

/*nav bar for each page*/
.navbar{
    background-color: white;
    color: darkslategrey;
}

.navbar .navbar-brand{
    margin-left: 10%;
    padding: 10px;
    background-color: rgb(21, 182, 166);
    color: white;
    font-size: xx-large;
    text-align:center;
    font-family: "Book Antiqua","Time New Roman";
}


.nav-item .nav-link:focus{
    background-color: rgb(214, 211, 211); 
  }


@media(max-width: 768px){
    .navbar{
        background-color: rgb(21, 182, 166);
        color: darkslategrey;
    }
    
    .navbar .navbar-brand{
        margin-left: 5%;
        margin-bottom: 0px;
        background-color: rgb(21, 182, 166);
        color: white;
        font-size: xx-large;
        text-align: center;
        font-family: "Book Antiqua","Time New Roman";
    }

    .nav-item .nav-link:focus{
        background-color: rgb(214, 211, 211); 
    }

    button:focus{
        background-color: white;
    }
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    color: rgb(21, 182, 166);
    font-size: 40px;
    font-family: "Book Antiqua","Time New Roman";
}

h2{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: rgb(21, 182, 166);
    font-size: 30px;
    font-family: "Book Antiqua","Time New Roman";
}

.main-box{
    padding: 20px;
    background: white;
    margin-top: 50px;
    margin-bottom: 90px;
    margin-left: 5px;
    margin-right: 5px;
    align-content: center;
    position: relative;
}

p{
    color:rgb(73, 97, 105);
    font-size: 20px;
    padding: 10px;
    margin: 20px 20px 10px 10px;  
}

#main-img{
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
    width: 180px;
    height:200px;
}

.side-box{
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-content: center;
    position: relative;
}

.side-bar{
    position: relative;
    height: 380px;
    width: 350px;
    align-content: center;
}

#Temp-img{
    position: left;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Temp-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#Hmd-img{
    position: right;
    top: 0;
    right: 0px;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Hmd-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#Cld-img{
    position: left;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Cld-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#WS-img{
    position: right;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#WS-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

@media(max-width: 995px){
    .sidebar{
    position: relative;
    height: 145px;
    width: auto;
    }

    #Temp-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }
    #Temp-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
    #Hmd-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }
    #Hmd-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
    #Cld-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }
    #Cld-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
    #WS-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }
    #WS-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
}

/*footer*/
.bottom-footer{
    border-top: 10px solid rgb(21, 182, 166);
    padding-top: 10px;
    height: 60px;
    text-align: center;
    color: white;    
    background-color: rgb(99, 96, 96);
}

/*comparision design*/
.subtitle{
    text-align: center;
}

.row a img{
    height: 80%;
    width: 95%;
    border: 1px solid white;
}

.paragraph{
    color: black;
}



/*TABLE*/

table{
    margin-top: 60px;
    border-collapse: collapse;
    border: 0;
}

th, td{
    font-size: larger;
    border: 0;
}

@media(max-width: 760px) {
    table{
        overflow-x: scroll;
        display: block;
    }
}