/*body for each page*/
body{
    background-color: lightgray;
}

/*nav bar for each page*/
.navbar{
    background-color: white;
    color: darkslategrey;
}

.navbar .navbar-brand{
    margin-left: 10%;
    padding: 10px;
    background-color: rgb(21, 182, 166);
    color: white;
    font-size: 180%;
    text-align: center;
    font-family: "Book Antiqua","Time New Roman";
}


.nav-item .nav-link:focus{
    background-color: rgb(214, 211, 211); 
}

  
@media(max-width: 767.98px){
    .navbar{
        background-color: rgb(21, 182, 166);
        color: rgb(23, 95, 95);
    }
    
    .navbar .navbar-brand{
        margin-left: 5%;
        margin-bottom: 0px;
    }

    .nav-item .nav-link:focus{
        background-color: rgb(214, 211, 211); 
    }

    button:focus{
        background-color: white;
    }
}

h1{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    color: rgb(21, 182, 166);
    font-size: 180%;
    font-family: "Book Antiqua","Time New Roman";
}

h2{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 1%;
    color: rgb(21, 182, 166);
    font-size: 150%;
    font-family: "Book Antiqua","Time New Roman";
}

.main-box{
    padding: 2%;
    background: white;
    margin-top: 7%;
    margin-bottom: 11%;
    margin-right: 1%;
    align-content: center;

}

p{
    color:rgb(73, 97, 105);
    padding: 10px;
    font-size: 110%;
    margin: 20px 20px 10px 10px;  
}

#main-img{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    width: 180px;
    height: 200px;
}

.side-box{
    background-color: white;
    padding: 5% 2% 2% 3%;
    margin-top: 15%;
    margin-bottom: 10%;
    align-content: center;
}

.side-bar{
    position: relative;
    align-content: center;
}


#Temp-img{
    position: left;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Temp-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#Hmd-img{
    position: right;
    top: 0;
    right: 0px;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Hmd-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#Cld-img{
    position: left;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#Cld-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

#WS-img{
    position: right;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 1px solid white;
}

#WS-img:hover{
    border: 1px solid rgb(21, 182, 166);
}

@media(max-width: 767.98px){
    .main-box{
        margin-bottom: 2%;
    }

    p{
        font-size: 90%;
        padding-top: 3%;
        margin: 3% 3% 1% 1%;  
    }

    #main-img{
        float: left;
        width: 40%;
        height: 80%;
    }

    .side-box{
        margin-top: 2%;
        margin-bottom: 14%;
    }

    .side-bar{
        position: relative;
        height: 180px;
        width: auto;
    }

    #Temp-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }

    #Temp-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }

    #Hmd-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }

    #Hmd-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }

    #Cld-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }
    #Cld-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
    #WS-img{
        float: left;
        position: relative;
        width: 25%;
        border: 1px solid white;
    }

    #WS-img:hover{
        border: 1px solid rgb(21, 182, 166);
    }
}


/*footer*/
.bottom-footer{
    border-top: 10px solid rgb(21, 182, 166);
    padding-top: 10px;
    height: 60px;
    text-align: center;
    color: white;    
    background-color: rgb(99, 96, 96);
}


/*comparision page design*/
.subtitle{
    text-align: center;
}

.row a img{
    height: 80%;
    width: 96%;
    border: 1px solid white;
}

.paragraph{
    font-size: 120%;
    color: black;
}



/*Data page design*/
/*Table design*/
table{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%; 
    border-collapse: collapse;
}

th, td{
    font-size: 100%;
}

@media(max-width: 767.98px) {
    table{
        margin:0 0 0 0;
        overflow-x: scroll;
        display: block;
    }

    th, td{
        font-size: 50%;
    }

    .paragraph{
        font-size: 90%;
    }
}